body {
  font-family: 'Mada', sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: scroll;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card {
  border: none;
  text-align: center;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: none;
}

.custom-img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
  cursor: pointer;
}

.img-upload {
  display: none;
}

.form-group label {
  font-weight: bold;
}

.input-group {
  display: flex;
  align-items: center;
}

.input-group input {
  flex: 1;
}

.input-group-append button {
  margin-left: 10px;
}

.d-flex.justify-content-between {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .container {
    padding: 15px;
  }
}
