@import url('https://fonts.googleapis.com/css2?family=Mada:wght@400;500;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');

body {
  font-family: 'Orelega One', sans-serif;
  background-color: #F8F4EE;
  color: #424B4F;
}

.header, .navbar {
  background-color: #F5E2C2;
}

.logo {
  max-width: 50px;
}

.carousel-controls {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.carousel-controls .btn {
  margin: 0 5px;
}

.btn-outline-primary {
  background-color: #0CB0EA;
  border-color: #0CB0EA;
  color: #000;
}

.btn-outline-primary:hover {
  background-color: #0A97D9;
  border-color: #0A97D9;
}

.action-buttons .btn {
  background-color: #ED960A;
  border-color: #ED960A;
  color: #000;
}

.action-buttons .btn:hover {
  background-color: #DB8500;
  border-color: #DB8500;
}

.cover-pic, .custom-img {
  width: 100%;
  height: auto;
}

.action-buttons button {
  height: 45pt;
  width: 180px;
  background-color: #0CB0EA;
  color: #000;
  font-weight: bold;
  padding: 12.75pt 33.75pt;
  font-family: 'Orelega One', sans-serif;
  font-size: 15pt;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 4px #999;
  transition: all 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.action-buttons button:hover {
  background-color: #0A97D9;
  box-shadow: 0 6px #666;
  transform: translateY(-2px);
}

.action-buttons button:active {
  background-color: #0884C6;
  box-shadow: 0 2px #333;
  transform: translateY(1px);
}

.main-content {
  padding-bottom: 70px; 
}
  
  header .logo {
    max-width: 100px;
  }
  
  header .custom-font {
    font-size: 1.5rem;
  }
  
  #searchIcon {
    color: #424B4F;
    cursor: pointer;
  }
  
  #searchForm {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
  


@media (max-width: 768px) {
    .header h1 {
        font-size: 1.5rem;
    }

    .card-title {
        font-size: 1rem;
    }

    .card-text {
        font-size: 0.875rem;
    }

    .action-buttons button {
        height: 35px;
        width: 100px;
        font-size: 12px;
    }
}
