@import url('https://fonts.googleapis.com/css2?family=Mada:wght@400;500;700&display=swap');

body {
  font-family: 'Mada', sans-serif;
  background-color: #F5E2C2;
  color: #424B4F;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  background-color: #FFFFFF;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 1.5rem;
  color: #0CB0EA;
}

.card-text {
  font-size: 1rem;
}

.profile-pic {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-bottom: 1rem;
}

.action-buttons .btn {
  margin-right: 10px;
}

.btn-primary {
  background-color: #0CB0EA;
  border-color: #0CB0EA;
}

.btn-primary:hover {
  background-color: #0A97D9;
  border-color: #0A97D9;
}

.btn-secondary {
  background-color: #ED960A;
  border-color: #ED960A;
}

.btn-secondary:hover {
  background-color: #DB8500;
  border-color: #DB8500;
}

.btn-warning {
  background-color: #F5E2C2;
  border-color: #F5E2C2;
  color: #000;
}

.btn-warning:hover {
  background-color: #F8D7A1;
  border-color: #F8D7A1;
  color: #000;
}

.btn-success {
  background-color: #B1A593;
  border-color: #B1A593;
}

.btn-success:hover {
  background-color: #A39082;
  border-color: #A39082;
}

.custom-nav-tabs .nav-item {
  margin-right: 10px;
}

.custom-nav-tabs .custom-tab {
  background-color: #A0E4FC;
  border-radius: 8px;
  padding: 10px 20px;
  color: #000;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.custom-nav-tabs .custom-tab.active {
  background-color: #ED960A;
  color: #FFF;
}

.custom-nav-tabs .custom-tab:hover {
  background-color: #DB8500;
  color: #FFF;
}

.cover-pic {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}