@import url('https://fonts.googleapis.com/css2?family=Mada:wght@400;500;700&display=swap');

body {
  font-family: 'Mada', sans-serif;
  background-color: #F5E2C2;
  color: #424B4F;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 80px; /* Add padding to prevent the nav bar from covering content */
}

.card {
  background-color: #FFFFFF;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 300px;
  height: 450px; /* Adjust height to fit content */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  font-size: 1.2rem; /* Adjusted for better fit */
  color: #0CB0EA;
}

.card-text {
  font-size: 0.9rem; /* Adjusted for better fit */
}

.profile-pic {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-bottom: 1rem;
}

.action-buttons button, .action-buttons .btn {
  height: 45pt;
  width: 180px;
  background-color: #0CB0EA;
  color: #000;
  font-weight: bold;
  padding: 12.75pt 33.75pt;
  font-family: 'Mada', sans-serif;
  font-size: 15pt;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 4px #999;
  transition: all 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.action-buttons button:hover, .action-buttons .btn:hover {
  background-color: #0A97D9;
  box-shadow: 0 6px #666;
  transform: translateY(-2px);
}

.action-buttons button:active, .action-buttons .btn:active {
  background-color: #0884C6;
  box-shadow: 0 2px #333;
  transform: translateY(1px);
}

.btn-primary {
  background-color: #0CB0EA;
  border-color: #0CB0EA;
}

.btn-primary:hover {
  background-color: #0A97D9;
  border-color: #0A97D9;
}

.btn-outline-danger {
  color: #dc3545;
  border-color: #dc3545;
}

.btn-outline-danger:hover {
  background-color: #dc3545;
  color: white;
}

.custom-nav-tabs .nav-item {
  margin-right: 10px;
}

.custom-nav-tabs .custom-tab {
  background-color: #A0E4FC;
  border-radius: 8px;
  padding: 10px 20px;
  color: #000;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.custom-nav-tabs .custom-tab.active {
  background-color: #ED960A;
  color: #FFF;
}

.custom-nav-tabs .custom-tab:hover {
  background-color: #DB8500;
  color: #FFF;
}

.cover-pic {
  width: 100%;
  height: 150px; 
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.fixed-bottom {
  background-color: #f8f9fa;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

