@import url('https://fonts.googleapis.com/css2?family=Mada:wght@400;500;700&display=swap');

body {
  font-family: 'Mada', sans-serif;
  background-color: #F5E2C2;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 80px; /* Add space for the fixed navbar */
}

.card {
  background-color: #F5E2C2;
  border: 0.375pt solid #424B4F;
  border-radius: 3.75pt;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 12.75pt;
  display: flex;
  align-items: center;
  padding: 10pt;
  width: 100%;
}

.usercard {
  background-color: #F5E2C2;
  border: 0.375pt solid #424B4F;
  border-radius: 3.75pt;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 12.75pt;
  display: flex;
  align-items: left;
  padding: 10pt;
  width: 100%;
}

.card img {
  border-radius: 3.75pt;
  width: 60pt;
  height: 60pt;
  object-fit: cover;
  margin-right: 12pt;
}

.card-content {
  flex-grow: 1;

}

.card-title {
  font-size: 15pt; 
  font-weight: bold;
  margin: 0;
  color: #000000;
  font-family: 'Mada', sans-serif;
}

.card-text {
  font-size: 12pt;
  margin: 0;
  font-family: 'Mada', sans-serif;
  color: #000000;
  text-wrap: wrap;
}

.card-progress {
  width: 100%;
  height: 7.5pt;
  background-color: #ffffff;
  border-radius: 3.75pt;
  overflow: hidden;
  margin-top: 8pt;
  margin: auto;
}

.card-progress-bar {
  height: 100%;
  background-color: #0C80EA;
  border-radius: 3.75pt;
}

.card-button {
  height: 25.5pt;
  width: 71.25pt;
  background-color: #424B4F;
  color: #FFFFFF;
  font-family: 'Mada', sans-serif;
  font-size: 15pt;
  font-weight: bold;
  border: none;
  border-radius: 3.75pt;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12.75pt;
}

.card-button:hover {
  background-color: #333;
}

.card-button:active {
  background-color: #222;
}

/* Fixed bottom navbar styling */
.fixed-bottom {
  background-color: #f8f9fa;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
  height: 60px; /* Set the height of the navbar */
}

.navbar-nav .nav-link {
  text-align: center;
  font-size: 0.875rem;
  font-family: 'Mada', sans-serif;
}

.navbar-nav .nav-link i {
  font-size: 1.25rem;
}

@media (max-width: 768px) {
  .navbar-nav .nav-link {
    font-size: 0.75rem;
  }

  .navbar-nav .nav-link i {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .navbar-nav .nav-link {
    font-size: 0.625rem;
  }

  .navbar-nav .nav-link i {
    font-size: 0.875rem;
  }
}

.custom-nav-tabs .nav-item {
  margin-right: 10px;
}

.custom-nav-tabs .custom-tab {
  background-color: #A0E4FC;
  border-radius: 8px;
  padding: 10px 20px;
  color: #000;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.custom-nav-tabs .custom-tab.active {
  background-color: #ED960A;
  color: #FFF;
}

.custom-nav-tabs .custom-tab:hover {
  background-color: #DB8500;
  color: #FFF;
}
